@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');

@import './page-template.scss';
@import './variables.scss';


/* Generic.
-------------------------------------------------- */
button {
  background-color: $light-gray;
  border: none;
  border-radius: 3px;
  color: $dark-gray;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 20px;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: $mid-gray;
  color: rgba(0,0,0,.8);
  cursor: pointer;
}

.big-icon {
  font-size: 1.8rem;
  margin-right: 10px;
}

.button-icon {
  margin-left: 5px;
}


/* Header component.
-------------------------------------------------- */
.header {

  .hero-content {
    display: flex;
    flex-direction: column;
    position: relative;

    .banner {
      height: 50%;
    }

    .sub-text {
      color: $white;
      font-size: 1.6rem;
    }
  }
}


/* Downloads component.
-------------------------------------------------- */
.downloads {
  border-bottom: 1px solid $light-gray;
}


/* Bio component.
-------------------------------------------------- */
.bio {
  display: flex;
  min-height: 300px;

  .left {
    padding-right: 40px;
    width: 60%;

    .section {

      &:first-child {
        margin-bottom: 50px;
      }

      .title {
        align-items: center;
        display: flex;
        flex-direction: row;
      }

      .paragraph {
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    width: 40%;

    .portrait {
      border-radius: 10px;
      width: 100%;
    }
  }
}


/* Social component.
-------------------------------------------------- */
.social {
  display: flex;
  flex-direction: row;
  width: 100%;

  .item {
    align-items: center;
    border: 1px solid $light-gray;
    border-left: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;

    &:last-child {
      border-right: none;
    }

    .top {
      align-items: center;
      display: flex;
    }
  }
}


/* Footer component.
-------------------------------------------------- */
.footer {
  align-items: center;
  background-color: $darkest-gray;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;

  .logo {
    height: 30px;
  }

  .copyright {

  }
}
