/* Colors.
 ------------------------------------------------- */
$white:      #FFFFFF !default;
$light-gray: #dEE2E6 !default;
$dark-gray:  #343A40 !default;
$black:      #000000 !default;

$primary:    #42C17E !default;
