/* Colors.
 ------------------------------------------------- */
$white:        #FFFFFF !default;
$light-gray:   #E0E1E2 !default;
$mid-gray:     #CACBCD !default;
$dark-gray:    #757576 !default;
$darkest-gray: #252525 !default;
$black:        #000000 !default;

$primary:    #42C17E !default;
